[Desktop Entry]
Encoding=UTF-8
Name=System panel
Name[es]=Panel de sistema
Name[fr]=Panneau système
Name[nl]=Systeemactiepaneel
Comment=Plasma5 applet that displays a panel with a set of system actions
Comment[es]=Plasma5 applet que muestra un panel con acciones de sistema
Comment[fr]=Applet Plasma5 qui affiche un ensemble d'actions système
Comment[nl]=Plasma5-widget die een paneel bevat met systeemacties

Icon=system-shutdown
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Wissem Yahiaoui
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Email=<wissem.yahiaouii{AT}gmail[DOT]com> 
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=org.kde.plasma.multimonitor
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://github.com/wyahiaoui

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-StandAloneApp=true
